#Button1 {
	border: none;
	border-radius: 20px;

	color: white;
	text-align: center;
	font-size: 32px;

	background-color: #244fea;
	cursor: pointer;

	width: 40%;
	height: 15%;
	position: absolute;
	top: 40%;
	left: 30%
}

#Button1:hover {
	color: white;
	background-color: #3960ec;
	transition-duration: 0.3s;
}

#Button1.Up {
	top: 35%;
	transition-timing-function: ease-out;
	transition-duration: 0.6s;
}

#lvlText {
	color: #0775c7;
	text-align: center;
	font: 30px Arial, sans-serif;

	position: absolute;
	width: 50%;
	margin: auto;
	left: 0;
	right: 0;
	top: 50%;
	opacity: 0;
}

#lvlText.Appear {
	opacity: 1;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
	top: 55%;
}

#lvlText.Left {
	transition-duration: 0.6s;
	right: 20%
}

#glblText {
	color: #0775c7;
	text-align: center;
	font: 30px Arial, sans-serif;

	position: absolute;
	width: 50%;
	margin: auto;
	left: 0;
	right: 0;
	top: 55%;
	opacity: 0;
}

#glblText.Appear {
	opacity: 1;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
	left: 20%;
}

#resetBtn {
	border: none;
	border-radius: 20px;

	color: white;
	text-align: center;
	font-size: 32px;

	background-color: #944fea;
	cursor: pointer;

	width: 20%;
	height: 10%;
	position: absolute;
	top: 80%;
	left: 40%;
	
	opacity: 0;
}

#resetBtn.Appear {
	opacity: 1;
	transition-duration: 1s;
	transition-delay: 0s;
	top: 65%;
}